In [ ]:
#import necessary libraries 

import pandas as pd

import numpy as np

import pickle

import matplotlib.pyplot as plt

%matplotlib inline

import seaborn as sns

import sklearn

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier

from sklearn.neighbors import KNeighborsClassifier

from sklearn.svm import SVC 

from sklearn.model_selection import RandomizedSearchCV

import imblearn

from imblearn.over_sampling import SMOTE
 
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,f1_score

In [ ]:
#import dataset
data = pd.read_csv(r'/Data set.csv')
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
#checking for null values 
data.TotalCharges = pd.to_numeric(data.TotalCharges,errors ='coerce')
data.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn               False
dtype: bool

In [ ]:
data["TotalCharges"].fillna(data["TotalCharges"].median(),inplace=True)
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data["gender"] = le.fit_transform(data["gender"]) 

data["Partner"] = le.fit_transform(data["Partner"])

data["Dependents"] = le.fit_transform(data["Dependents"])

data["PhoneService"] = le.fit_transform(data["PhoneService"])

data["MultipleLines"] = le.fit_transform(data["MultipleLines"]) 

data["Internet Service"] = le.fit_transform(data["InternetService"])

data["OnlineSecurity"] = le.fit_transform(data["OnlineSecurity"]) 

data["OnlineBackup"] = le.fit_transform(data["OnlineBackup"])

data["DeviceProtection"] = le.fit_transform(data["DeviceProtection"])

data["TechSupport"] = le.fit_transform(data["TechSupport"])

data["StreamingTV"] = le.fit_transform(data["StreamingTV"])

data["StreamingMovies"] = le.fit_transform(data["StreamingMovies"])

data["Contract"] = le.fit_transform(data["Contract"])

data["PaperlessBilling"] = le.fit_transform(data["PaperlessBilling"])

data["PaymentMethod"] = le.fit_transform(data["PaymentMethod"])

data["Churn"] = le.fit_transform(data["Churn"])

In [ ]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Internet Service
0,7590-VHVEG,0,0,1,0,1,0,1,DSL,0,...,0,0,0,0,1,2,29.85,29.85,0,0
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,2,...,0,0,0,1,0,3,56.95,1889.50,0,0
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,2,...,0,0,0,0,1,3,53.85,108.15,1,0
3,7795-CFOCW,1,0,0,0,45,0,1,DSL,2,...,2,0,0,1,0,0,42.30,1840.75,0,0
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,1,2,70.70,151.65,1,1

In [ ]:
x= data.iloc[:,0:19].values
y= data.iloc[:,19:20].values

In [ ]:
x

array([['7590-VHVEG', 0, 0, ..., 1, 2, 29.85],
       ['5575-GNVDE', 1, 0, ..., 0, 3, 56.95],
       ['3668-QPYBK', 1, 0, ..., 1, 3, 53.85],
       ...,
       ['4801-JZAZL', 0, 0, ..., 1, 2, 29.6],
       ['8361-LTMKD', 1, 1, ..., 1, 3, 74.4],
       ['3186-AJIEK', 1, 0, ..., 1, 0, 105.65]], dtype=object)

In [ ]:
y

array([[  29.85],
       [1889.5 ],
       [ 108.15],
       ...,
       [ 346.45],
       [ 306.6 ],
       [6844.5 ]])

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
smt = SMOTE()

x_resample ,y_resample = smt.fit_resample(x,y)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

One = OneHotEncoder()

a= one. fit_transform(x_[:,6:7]).toarray()

b one. fit_transform(x[:,7:8]).toarray()

c one.fit transform(x[:,8:9]).toarray()

d_one. fit_transform(x[3:10]).toarray()

es one. fit_transform(x[:,10:11]).toarray()

f one. fit_transform(x,11:12]), toarray() gone.fit transform(x[:12:13]).toarray()

h one. fit_transform(x(:,13:14]).toarray()

one.fit_transform(x[:,14:15]).toarray()

j_one. fit_transform(x[:,16:17]).toarray()

xmp.delete(x,[6,7,8,9,10,11,12,13,14,16], axis=1)

x-np.concatenate((a,b,c,d,e,f,g,h,1,1,x),axis=1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data.describe()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Internet Service
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.504756,0.162147,0.483033,0.299588,32.371149,0.903166,0.940508,0.790004,0.906432,0.904444,0.797104,0.985376,0.992475,0.690473,0.592219,1.574329,64.761692,2281.916928,0.265370,0.872923
std,0.500013,0.368612,0.499748,0.458110,24.559481,0.295752,0.948554,0.859848,0.880162,0.879949,0.861551,0.885002,0.885091,0.833755,0.491457,1.068104,30.090047,2265.270398,0.441561,0.737796
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.500000,402.225000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,70.350000,1397.475000,0.000000,1.000000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,89.850000,3786.600000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,118.750000,8684.800000,1.000000,2.000000

In [11]:
plt.figure(figsize=(18,4))
for i,j in enumerated(df_cat):
  plt.subplot(1,4,i+1)
  sns.countplot(df[j])

NameError: ignored

In [2]:
def transformationplot(feature):
  plt.figure(figsize=(12,5))
  plt.subplot(1,2,1)
  sns.distplot(feature)

  transformationplot(np.log(df['gender']))

In [10]:
plt.figure(figsize=(12,5))
plt.subplot(121)
sns.displot(df['Tenure'],colour='r')
plt.subplot(122)
sns.displot(df['Na_to_k'])
plt.show()

NameError: ignored

In [7]:
plt.figure(figsize=(12,5))
plt.subplot(1,2,1)
sns.distplot(data['tenure'])
plt.subplot(1,2,2)
sns.distplot(data['monthlycharges'])

NameError: ignored

In [14]:
data.shape()

NameError: ignored

In [15]:
sns.barplot(x="churn",y="MonthlyCharges",data=data)

NameError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_resample,y_resample,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [ ]:
#importing and building the Decision tree model

def logreg(x_train,x_test,y_train,y_test): 
  
    lr=LogisticRegression(random_state=0)

    lr.fit(x_train,y_train)

    y_lr_tr = Ir.predict(x_train)

   print(accuracy_score(y_lr_tr,y_train))
   
   yPred_1r = lr.predict(x_test)

   print(accuracy_score (yPred_1r,y_test))

   print("**Logistic Regression**")

   print("Confusion Matrix")

   print(confusion matrix(y_test,yPred_1r)) print("classification Report")

  print(classification_report(y_test,yPred_lr))

In [ ]:
compareModel(x_train,x_test,y_train,y_test)